#Level Generation
public net.minecraft.world.level.levelgen.carver.CaveCarverConfiguration f_159157_ #floorLevel

#Structure Generation
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ #DEFAULTS
public-f net.minecraft.world.level.levelgen.StructureSettings f_64582_ #structureConfig
public-f net.minecraft.world.level.levelgen.feature.StructureFeature f_67031_ #NOISE_AFFECTING_FEATURES

#Biome
public-f net.minecraft.world.level.biome.Biome
public net.minecraft.world.level.biome.Biome <init>(Lnet/minecraft/world/level/biome/Biome$ClimateSettings;Lnet/minecraft/world/level/biome/Biome$BiomeCategory;FFLnet/minecraft/world/level/biome/BiomeSpecialEffects;Lnet/minecraft/world/level/biome/BiomeGenerationSettings;Lnet/minecraft/world/level/biome/MobSpawnSettings;)V # newBiome

#Dimension Effects
public-f net.minecraft.client.renderer.DimensionSpecialEffects f_108857_ #EFFECTS

#Villager
protected net.minecraft.world.entity.npc.Villager m_35424_(Lnet/minecraft/world/entity/ai/Brain;)V #registerBrainGoals
protected net.minecraft.world.entity.npc.Villager m_35536_(Lnet/minecraft/world/entity/player/Player;)V #startTrading
protected net.minecraft.world.entity.npc.Villager m_35519_()V #resetSpecialPrices
protected net.minecraft.world.entity.npc.Villager m_35520_()Z #needsToRestock
protected net.minecraft.world.entity.npc.Villager m_35521_()Z #allowedToRestock
protected net.minecraft.world.entity.npc.Villager m_35522_()V #catchUpDemand
protected net.minecraft.world.entity.npc.Villager m_35523_()V #updateDemand
protected net.minecraft.world.entity.npc.Villager m_35540_(Lnet/minecraft/world/entity/player/Player;)V #updateSpecialPrices
protected net.minecraft.world.entity.npc.Villager m_35420_(Lnet/minecraft/world/entity/Entity;)V #tellWitnessesThatIWasMurdered
protected net.minecraft.world.entity.npc.Villager m_35526_()V #eatUntilFull
protected net.minecraft.world.entity.npc.Villager m_35531_()V #resetNumberOfRestocks
public-f net.minecraft.world.entity.npc.Villager f_35369_ #FOOD_POINTS
protected-f net.minecraft.world.entity.npc.Villager f_35372_ #WANTED_ITEMS
protected net.minecraft.world.item.trading.MerchantOffer f_45310_ #baseCostA
protected net.minecraft.world.item.trading.MerchantOffer f_45311_ #costB
protected net.minecraft.world.item.trading.MerchantOffer f_45312_ #result
protected net.minecraft.world.item.trading.MerchantOffer f_45313_ #uses
protected net.minecraft.world.item.trading.MerchantOffer f_45314_ #maxUses
protected net.minecraft.world.item.trading.MerchantOffer f_45315_ #rewardExp
protected net.minecraft.world.item.trading.MerchantOffer f_45316_ #specialPriceDiff
protected net.minecraft.world.item.trading.MerchantOffer f_45317_ #demand
protected net.minecraft.world.item.trading.MerchantOffer f_45318_ #priceMultiplier
protected net.minecraft.world.item.trading.MerchantOffer f_45319_ #xp
protected net.minecraft.world.entity.npc.Villager f_35364_ #numberOfRestocksToday
protected-f net.minecraft.world.entity.npc.Villager f_35377_ #gossips
protected-f net.minecraft.world.entity.npc.AbstractVillager f_35264_ #inventory